<div class="mail-content" style="font-size: 16px;line-height: 1.375;margin-top: 24px;">
  <table class="task-table" style="width: 100%;border-collapse: collapse;">
    <tr>
      <td class="task-table-separator" colspan="3"
          style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;"></td>
    </tr>

    <div class="mail-footer" style="width: 100%;border-collapse: collapse;font-size: 14px;margin-top: 24px;">
      <table class="message"
             style="background-color: #f0f4ff;border-radius: 8px;width: 100%;font-size: 16px;line-height: 18px;letter-spacing: 0.75px;">
        <tr>
          <td align="center" valign="middle" style="padding: 0;vertical-align: middle;height: 4em;">
            <span class="message-text" style="font-weight: 500;" inert>❗Срок выполнения задачи истекает {{.Deadline.Format "02.01.2006"}}</span>
          </td>
        </tr>
      </table>
    </div>
  </table>
</div>