<div class="mail-content" style="font-size: 16px;line-height: 1.375;margin-top: 24px;">
   Чтобы начать пользоваться <a class="task-link" href="{{.WebUrl}}"
                                             style="color: #3f76ff;text-decoration: none;letter-spacing: 0.5px;">АИПлан</a>, авторизуйтесь, используя
   пароль ниже:</div>
<div class="mail-footer" style="width: 100%;border-collapse: collapse;font-size: 14px;margin-top: 24px;">
   <table class="your-password"
      style="background-color: #f0f4ff;border-radius: 8px;width: 100%;font-size: 16px;line-height: 18px;letter-spacing: 0.75px;">
      <tr>
         <td align="center" valign="middle" style="padding: 0;vertical-align: middle;height: 4em;">
            <span class="your-password-caption" style="font-weight: 500;" inert>Ваш пароль:
            </span><span class="your-password-text" style="color: #3f76ff;">{{.Password}}</span>
         </td>
      </tr>
   </table>
</div>