<div class="mail-content" style="font-size: 16px;line-height: 1.375;margin-top: 24px;">
    <table class="task-table" style="width: 100%;border-collapse: collapse;">
        <tr>
            <td width="24" height="24" class="task-table-first"
                style="width: 24px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
                {{if ne .Actor.Avatar ""}}
                <img width="24" height="24" class="profile-image" src="{{.Actor.Avatar}}" alt="Изображение профиля"
                     style="display: block;width: 24px;height: 24px;border: #dde2ea 0.5px solid;border-radius: 4px;">
                {{else}}
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="profile-image"
                     style="display: block;width: 24px;height: 24px;border: #dde2ea 0.5px solid;border-radius: 4px;">
                    <path
                            d="M4.7 18.5C4.7 17.8689 4.84742 16.976 5.72896 16.2184C6.63757 15.4376 8.43976 14.7 12 14.7V13.3C8.28751 13.3 6.08971 14.0624 4.81649 15.1566C3.51622 16.274 3.3 17.6311 3.3 18.5H4.7ZM3.3 18.5C3.3 19.715 4.28497 20.7 5.5 20.7V19.3C5.05817 19.3 4.7 18.9418 4.7 18.5H3.3ZM20.7 18.5C20.7 17.6311 20.4838 16.274 19.1835 15.1566C17.9103 14.0624 15.7125 13.3 12 13.3V14.7C15.5602 14.7 17.3624 15.4376 18.271 16.2184C19.1526 16.976 19.3 17.8689 19.3 18.5H20.7ZM19.3 18.5C19.3 18.9418 18.9418 19.3 18.5 19.3V20.7C19.715 20.7 20.7 19.715 20.7 18.5H19.3ZM5.5 20.7H18.5V19.3H5.5V20.7ZM14.3 7C14.3 8.27026 13.2703 9.3 12 9.3V10.7C14.0435 10.7 15.7 9.04345 15.7 7H14.3ZM12 9.3C10.7297 9.3 9.7 8.27026 9.7 7H8.3C8.3 9.04345 9.95655 10.7 12 10.7V9.3ZM9.7 7C9.7 5.72975 10.7297 4.7 12 4.7V3.3C9.95655 3.3 8.3 4.95655 8.3 7H9.7ZM12 4.7C13.2703 4.7 14.3 5.72975 14.3 7H15.7C15.7 4.95655 14.0435 3.3 12 3.3V4.7Z"
                            fill="#474A52"/>
                </svg>
                {{end}}
            </td>
            <th class="task-user" colspan="2"
                style="font-weight: 600;padding-top: 0;padding-bottom: 0;padding-left: 8px;padding-right: 0;text-align: left;">
                <div>Пользователь {{if .Actor.FirstName}}
                    {{.Actor.FirstName}} {{.Actor.LastName}} {{else}} {{.Actor.Email}} {{end}} внес изменения
                    {{.CreatedAt.Format "02.01.2006 15:04 MST"}}
                </div>
            </th>
        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;"></td>
        </tr>
        {{with .Changes.name }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Название:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                <del style="color: #999999">{{.OldValue}}</del>
                <span class="new-status" style="color: #05bd8d;">{{ .NewValue }}</span></td>
        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
        {{with .Changes.description }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Описание:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;word-break: break-word;">
                <del style="color: #999999">{{.OldValue}}</del>
                <br>{{ .NewValue }}
            </td>
        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
        {{with .Changes.end_date }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Конец:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                <del style="color: #999999">{{.OldValue}}</del>
                <span class="new-status" style="color: #05bd8d;">{{ .NewValue }}</span></td>
        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
        {{with .Changes.start_date }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Начало:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                <del style="color: #999999">{{.OldValue}}</del>
                <span class="new-status" style="color: #05bd8d;">{{ .NewValue }}</span></td>
        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
        {{with $activity := .Changes.issue }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Задачи:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                {{- $first := true -}}
                {{- range $.Issues -}}
                {{- if not $first }}, {{ end -}}

                {{- if .IsNew -}}
                <span class="new-status" style="color:#05bd8d">
                {{ .Issue.FullIssueName }}
            </span>
                {{- else -}}
                {{ .Issue.FullIssueName }}
                {{- end -}}

                {{- $first = false -}}
                {{- end -}}

                {{- range $.RemoveIssues -}}
                {{- if not $first }}, {{ end -}}

                <del style="color:#999999">
                    {{ .FullIssueName }}
                </del>

                {{- $first = false -}}
                {{- end -}}

        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
        {{with $activity := .Changes.watchers }}
        <tr>
            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
            <td class="task-table-left-col"
                style="text-align: right;width: 124px;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                Наблюдатели:
            </td>
            <td class="task-table-right-col"
                style="text-align: left;vertical-align: top;padding-top: 0;padding-bottom: 0;padding-left: 4px;padding-right: 4px;letter-spacing: 0.5px;">
                {{- $first := true -}}
                {{- range $.Watchers -}}
                {{- if not $first }}, {{ end -}}

                {{- if .IsNew -}}
                <span class="new-status" style="color:#05bd8d">
                {{ .Watcher.GetName }}
            </span>
                {{- else -}}
                {{ .Watcher.GetName }}
                {{- end -}}

                {{- $first = false -}}
                {{- end -}}

                {{- range $.RemoveWatchers -}}
                {{- if not $first }}, {{ end -}}

                <del style="color:#999999">
                    {{ .GetName }}
                </del>

                {{- $first = false -}}
                {{- end -}}

        </tr>
        <tr>
            <td class="task-table-separator" colspan="3"
                style="height: 8px;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;">
            </td>
        </tr>
        {{end}}
    </table>
</div>