<tr>
    <td></td>

    <td class="task-table-left-col"
        style="text-align:right;width:124px;vertical-align:top;padding:0 4px;letter-spacing:0.5px;">
        {{- .Key -}}:
    </td>

    <td class="task-table-right-col"
        style="text-align:left;vertical-align:top;padding:0 4px;letter-spacing:0.5px;">

        {{- if .Old -}}
        {{- if .Old.Body -}}
        <del style="color:#999999">{{ .Old.Body }}</del><br>
        {{- else if .Old.Value -}}
        <del style="color:#999999">{{ .Old.Value }}</del>
        {{- if and .Old .New -}}, {{ end -}}
        {{- end -}}
        {{- end -}}

        {{- if .New -}}
        {{- if .New.Body -}}
        {{ .New.Body }}
        {{- else if .New.Value -}}
        <span class="new-status" style="color:#05bd8d;">
                    {{ .New.Value }}
                </span>
        {{- end -}}
        {{- end -}}

    </td>
</tr>

<tr>
    <td class="task-table-separator" colspan="3"
        style="height:8px;padding:0;">
    </td>
</tr>
